body {
    background-color: lightblue; /* default color */
}

.button { 
    background: linear-gradient(to bottom, #007bff, #0069d9); 
    border-radius: 5px; 
    color: white; 
    font-weight: bold; 
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 16px; 
    padding: 10px 20px; 
}